.break{
    height: 50px;
    width: 80%;
    display: flex;

    margin: auto;
    display: flex;
}
.line{
    height: 50%;
    width: 30%;
    border-bottom: 1px solid #969696;
    margin: auto;
    margin-top: 0px;
}
.secondline{
    height: 50%;
    width: 30%;
    border-bottom: 1px solid #969696;
    margin: auto;
    margin-top: 0px;
}

img{
    height: 150%;

}